#button_link{
display:block;
margin:0px auto;
line-height:1em;
margin-top:5px;
border: none;
background: transparent;
}
.button{
display:block;
width:100px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
border:0px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
.span{
font-size:10px;
}
.main_ul li{
font-size:10px;
}
.button:hover{
background: rgb(53, 167, 110);
transition: all 1000ms ease;
}
#header{
background:linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
width:100%;
height:50px;
}
#header form
{
/*min-width:600px;
max-width:800px;
margin:0px auto;*/
}
#not_found{
font-size:24px;
color:white;
padding-top: 10px;
}
.send{
width:40%;
position:relative;
left:30%;
right:30%;
top:5px;
box-sizing:border-box;
padding: 5px;
font: bold 16px Arial;	
background: #36C2B6 none repeat scroll 0% 0%;
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.9);
border-radius: 5px;
border: 0px none;
color: #FFF;
}
.search{
padding:0 10px 0 10px;
background: #F0F0F0;
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
border-radius: 5px;
border: 0px;
color:#337AB7;
width:10%;
}
.toolbar{
display: inline; 
margin-right: 5px;
padding: 3px;

position:relative;
list-style-type:none;
height:32px;
top:9px;
}
.toolbar li{
font-size: 1.7rem;
color:white;
line-height:1.71em;
display: inline; 
  margin-left: 20px;
}
.elements{
color:#FFF;
}
option{
	color:black;
}
#name{
color: #FFF;
text-decoration: none;
}
#price{
color: #FFF;
text-decoration: none;
font-weight:700;
}
#age{
width:9%;
}
#orders_info{
display:none;
}
.bcontainer_item
{
position:fixed;
width: 40%;
top:10%;
margin:0px auto;
min-height: 339px;
background: #fff;
border: 8px solid #36C2B6;	
padding: 20px;
z-index: 1002;
left:30%;
}
#bsubject_item{
font-weight:700;
font: normal 18px Arial;
}
#bclose_item
{
float: right;	
}
#azaz1{
display:none;
position:fixed;
background: rgba(0, 0, 0, 0.8) none repeat scroll 0px 0px;
bottom: 0px;
left: 0px;
position: fixed;
right: 0px;
top: 0px;
z-index: 1001;
}
#photo{
float:left;
}
#info{
float:right;
padding-top: 32px;
padding-right: 10px;

}
#details{
font-size:15px;
}
.more_width{
width:100%;
}
.paggination_wrapper
{
margin:0px auto;
}
#info_item{
padding-top: 32px;
padding-right: 10px;
width:75%;
margin:0px auto;
}
.bcontainer_item_admin{
position: fixed;
width: 30%;
top: 1%;
margin: 0px auto;
min-height: 339px;
background: #FFF none repeat scroll 0% 0%;
border: 8px solid #36C2B6;
padding: 20px;
z-index: 1002;
left: 35%;
}
.addbutton{
background: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
border-radius:10px;border:0px;font-size:30px;margin:0px auto;width:100%;
}
#addbutton{
width:50%;
margin:0px auto;
display: inline-block;
}
.no_background{
background:rgba(0,0,0,0);
border:none;

}
.infobox{
max-width:50%;
}