 body{
  background:url("../content/bgrd.png");
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-attachment: fixed;
}
/*.main_ad_block{
	background-color: transparent;
	margin-top: 5%;
	height: 20%;
	width: 83%;
	margin-left: 8.5%;
}*/
.logo{
	width: 192px;
	height: 192px;
	float:left;
}
.ad_only_block{
	background: transparent;
	font-size: 20;
	height: 192px;
	width: 80%;
	float:right;
}
.ad_cant{
	width: 80px;
	height: 80px;
	position:absolute;
	top:0px;
}
#ads{
	float:left;
	width:50%;
	height:192px;
	background:#700;
}
.main_ad_block{
	float:left;
}
#wrapper{
position: relative;
clear: both;
width: 50%;
margin: 0px auto;
}
#wrapper-holder{
position:relative;
top:100px;
}
.content_block{
	background-color: white;
	width: 83%;
	min-height: 930px;
top: 15px;
clear:both;
	position:relative;
	margin:0px auto;
	/*margin-left: 8.5%;
	margin-top: 20.5%;
	margin-bottom: 5%;*/
}